@font-face{
	font-family: "Circular Medium";
	src: url(../fonts/CircularStd-Medium.woff);
}

@font-face{
	font-family: Circular;
	src: url(../fonts/CircularStd-Book.woff);
}

@font-face{
	font-family: "Circular Bold";
	src: url(../fonts/CircularStd-Bold.woff);
}

*{
	margin: 0px;
	padding: 0px;
}

html, body{
	height: 100%;
	font-family: "Circular Medium";
}

/*Estilo do index*/

#index-container-1{
	background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
}

#index-container-2{
	width: 100%;
	height: 932px;
	background-image: url(../imagens/index-main-bg.svg);
	background-size: 1610px 1523px;
	background-position: center;
	background-repeat: no-repeat;
}

#index-banner-covid{
	height: 219px;
	background-color: #ffffff;
}

#banner-covid-dimensions{
	max-width: 1170px;
	margin: 0px auto;
	box-sizing: border-box;
	padding: 117px 15px 0px 15px;
}

#banner-covid-title{
	font-family: "Circular Bold";
	color: #2D4FC0;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 5px;
}

#banner-covid-content{
	color: #000000;
	font-size: 17.2px;
}

#banner-covid-content a{
	color: #000000;
}

.index-main-menu{
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
}

.index-main-menu-dimensions{
	max-width: 1170px;
	margin: 0px auto;
	box-sizing: border-box;
	padding: 0px 15px;
}

.index-logo{
	width: 132px;
}

.index-logo svg{
	width: 100%;
	fill: #ffffff;
	margin-top: 20px;
	float:left;
}

.index-menu-itens{
	float: right;
}

.index-menu-itens ul{
	list-style: none;
	display: inline-flex;
	color: #ffffff;
}

.index-menu-itens ul li{
	letter-spacing: 0.2px;
	padding: 32px 17px 0px 17px;
}

#item-5{
	color: #d9dadc;
}

#item-6{
	color: #d9dadc;
	padding-right: 0px;
}

#index-banner-main{
	width: 1140px;
	padding: 250px 15px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

#index-banner-main h1{
	font-family: "Circular Bold";
	font-size: 80px;
	color: #ffffff;
	margin-bottom: 18px;
	box-sizing: border-box;
	letter-spacing: -2px;
}

#index-banner-main p{
	font-family: Circular;
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 18px;
}

#index-banner-main button{
	width: 319.75px;
	height: 48px;
	font-family: "Circular Bold";
	color: #ffffff;
    	background-color: #1DB954;
    	border-radius: 500px;
    	padding: 16px 48px 18px;
    	border: 0px;
    	letter-spacing: 2px;
    	text-transform: uppercase;
    	margin-top: 16px;
}

#index-footer-container{
	padding: 80px 0px 50px;
	background-color: #000000;
}

#index-footer-dimensions{
	margin: 0px auto;
	width: 1170px;
}

.index-footer-content{
	width: 195px;
	height: 346px;
	padding: 0px 15px;
	display: inline-block;
	margin-right: -4px;
	font-family: "Circular";
	box-sizing: border-box;
}

.index-footer-content .index-logo svg{
	margin: 0px;
}

.index-footer-content ul{
	list-style: none;
	color: #ffffff;
	float: left;
}

.index-footer-content ul li{
	padding: 3px 0px 15px;
}

.index-footer-content ul li.ifc-first{
	font-family: "Circular Medium";
	margin: 20px 0;
	color: #919496;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0px;
}

.social-media-footer{
	width: 195px;
	height: 346px;
	padding: 0px 15px;
	box-sizing: border-box;
	display: inline-block;
	float:right;
}

.social-media-footer ul li{
	list-style: none;
	margin: -4px;
	display: inline-block;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #222326;
}

.social-media-footer ul li img{
	width: 24px;
	height: 24px;
	float: center;
}

#country-footer{
	text-align: right;
	padding: 0px 15px;
	box-sizing: border-box;
}

#country-name{
	font-size: 13px;
	font-family: "Circular";
	color: #919496;
}

#country-icon{
	margin-left: 10px;
	width: 24px;
	height: 18px;
}

#footer-things{
	padding: 0px 15px;
	box-sizing: border-box;
	font-size: 13px;
	font-family: "Circular";
	color: #919496;
}

#footer-things span{
	margin-right: 24px;
}

#footer-things div span:first-of-type{
	margin-right:0px;
}

#footer-things div{
	float: right;
}

/* Estilo da página de login */

#login-header{
	text-align: center;
	height: 72.656px;
	padding: 25px 0px 10px 0px;
	border-bottom: 1px solid #d9dadc;
	margin-bottom: 30px;
}

#login-header img{
	display: inline-block;
	width: 200px;
}

#login-content-container{
	width: 450px;
	margin: 0px auto;
	text-align: center;
}

#login-content-container button{
	background-color: #3b5998;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	width: 422px;
	height: 16px;
	box-sizing: content-box;
	padding: 16px 14px 16px 14px;
	border-radius: 500px;
	margin-top: 10px;
	font-family: "Circular Bold";
	letter-spacing: 2.5px;
}

#login-content-container button:nth-of-type(2){
	background-color: #000000;
}

.login-content-divisor{
    	border-top: 1px solid #d9dadc;
    	margin: 25px 0px;
    	line-height: 1px;
}

.login-content-divisor span{
	font-size: 12px;
	padding: 0px 20px;
	background-color: #ffffff;
}

#login-content-container input{
	width: 100%;
	height: 38px;
	box-sizing: border-box;
	padding: 6px 12px;
	border: 1px solid #d9dadc;
	font-size: 15px;
}

::-webkit-input-placeholder {
   color: #d9dadc;
}

#login-content-container input:nth-of-type(2){
	margin: 10px 0px;
}

#login-content-check{
	text-align: left;
	display: inline-block;
	margin: -4px;
	width: 50%;
}

input[type=checkbox]{
	display: none;
}

label{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
   	height: 18px;
   	border-radius: 4px;
   	border: 1px solid #c1c3c6;
}

input[type=checkbox]:checked + label{
	background-image: url(../imagens/icon-checked.svg);
	background-size: 16px;
   	background-repeat: no-repeat;
   	background-position: 50%;
	background-color: #1db954;
	border-color: #1db954;
}

#login-content-check span{
	position: relative;
	display:inline-block;
	color:#b4b4b4;
	font-family: Circular;

}

#login-content-getin{
	text-align: right;
	display: inline-block;
	margin: -4px;
	width: 50%;
}

#login-content-getin button:nth-of-type(1){
	background-color: #1db954;
	width: 182px;
	height: 14px;
}

#forget-password{
	text-decoration: none;
	font-family: Circular;
	color: #1db954;
	display: block;
	margin: 26px 0px;
}

#login-content-container h4:nth-of-type(2){
	margin: 12px 0px; 
}

#login-content-container button:nth-of-type(3){
	background-color: #ffffff;
	color: #616467;
	box-shadow: inset 0 0 0 2px #616467;
}

#login-content-container button:nth-of-type(3):hover{
	background-color: #616467;
	color: #ffffff;
}

#login-content-container p{
	color:#c1c3c6;
	font-size: 10px;
	font-family: Circular;
	line-height: 15px;
}

#login-content-container p a{
	text-decoration: none;
	color:#1db954;
}

